<div class="container py-2" id="recent-posts">
    {{ if .Site.Params.footer.recentPosts | default true }}
    <div class="h4 text-center text-secondary py-2">Posts recientes</div>
    <div class="row justify-content-center">
        {{ range ( where .Site.RegularPages "Type" "blogs" | first 3 ) }}
        <div class="col-lg-4 col-md-6 pt-2">
            <div class="card h-100">
                {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="card-img-top recent-post-img">
                {{ end }}
                <div class="card-body bg-transparent p-2 shadow-sm">
                    <a href="{{ .RelPermalink }}" class="primary-font card-title">
                        <h6 class="card-title bg-transparent" title="{{ .Title }}">{{ .Title }}</h6>
                    </a>
                    <div class="card-text secondary-font">
                        <p>{{ .Summary | truncate 120}}</p>
                    </div>
                </div>
                <div class="mt-auto card-footer">
                    <span class="float-start">{{ .Date | time.Format ":date_medium" }}</span>
                    <a href="{{ .RelPermalink }}" class="float-end btn read-more-btn btn-sm">Leer</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
    {{ end }}
</div>