{{ define "head" }}
<meta name="description" content="{{ .Title }} of {{ .Site.Title }}">
<link rel="stylesheet" href="{{ .Site.Params.staticPath }}/css/list.css" media="all">
{{ end }}

{{ define "title" }}
{{.Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<div class="container pt-5" id="list-page">
    <h2 class="text-center pb-2">{{.Title}}</h2>
    <div class="row">
        {{ range .Paginator.Pages }}
        <div class="row align-items-center my-4">
            <!-- Imagen del blog (columna izquierda) -->
            <div class="col-md-3">
                <img src="{{ .Params.image }}" alt="{{ .Title }}" class="img-fluid rounded shadow-sm">
            </div>

            <!-- Contenido del blog (columna derecha) -->
            <div class="col-md-9">
                <a href="{{ .RelPermalink }}" class="text-dark text-decoration-none">
                    <h4 class="fw-bold">{{ .Title }}</h4>
                </a>
                <p class="text-secondary">{{ .Summary | truncate 350 }}</p>
                <span class="text-muted">{{ .Date.Format "January 2, 2006" }}</span>
                <a href="{{ .RelPermalink }}" class="btn btn-outline-info btn-sm float-end">Read more</a>
            </div>
        </div>
        <hr>
        {{ end }}
    </div>

    <!-- Paginación -->
    <div class="row justify-content-center">
        <div class="col-auto m-5">
            {{template "_internal/pagination.html" . }}
        </div>
    </div>
</div>
{{ end }}